<!DOCTYPE html>
<html>
<head>
	<title>Participantes</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">Participantes de la Clase</h1>

		<p><strong>Total de Clases Registrados Actualmente: {{Lista_HTML|length}}</strong></p>
		<form method="POST", action= "/Registrar_Asistencia/" >
			{% csrf_token %}
			{% for Prtic in Lista_HTML %}
			<!--<div><input type="checkbox" name = "participante" id="{{Prtic.id}}" onclick=""><label>{{Prtic.Nombre}}</label></div>-->
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="{{Prtic.id}}" id="{{Prtic.id}}" name="participante">
				<label class="form-check-label" for="{{Prtic.id}}">{{Prtic.Nombre}}</label>
			</div>
			{% endfor %}
			<a>
				<button type="submit">Registrar_Asistencia</button>
			</a>
		</form>

	<a href="/Inicio_Asistencias/">Regresar</a>
</body>
</html>