<!DOCTYPE html>
<html>
<head>
	<title>Registrar-AYW</title>
</head>
<body>
	<h1 style="background-color:red; color:white; text-align:center;">Registar Nuevo Alumno</h1>
	<p><strong>Instrucciones:</strong> Para registrar a un Alumno Nuevo, se debe ingresar los Datos al Formulario. Una vez ingresado los Parametros, se debe presionar el Boton <strong>"Enviar"</strong>.</p>
	<br>
	<form action="" method="POST">{% csrf_token %}
		<table>
			{{ form.as_table}}
		</table>
		<br>
		<input type="reset" name="Limpiar">
		<input type="submit" name="Registar">
	</form>
	<br>
	<h4 style="background-color:silver; color:white; text-align:center;">{{mensaje}}</h4>
	<br>
	<a href="/Listado_Alumnos/">Regresar a la Lista de Alumnos</a>
	<p></p>
	<a href="/Inicio_Gestion/">Regresar a la Pagina de Inicio</a>


</body>
</html>