<!DOCTYPE html>
<html>
<head>
	<title>Lista-AYW</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">Lista de Alumnos Registrados</h1>

		<p><strong>Instrucciones:</strong> Como se puede ver en la Lista, tiene a disposicion todos los Alumnos registrados en nuestra Base de Datos. Para realizar algun cambio tan solo debe ingresar al <strong>Modificar o Eliminar</strong> de un Alumno especifico. Tambien Puede usar la Barra de Busqueda para encontrar al Alumno especifico.</p>
		<p><strong>Total de Alumnos Registrados Actualmente: {{Lista_Alumnos|length}}</strong></p>
		<form action="/buscar/" method="GET">
			<strong><label for="Barra Busqueda">Barra de Busqueda:</label></strong><input type="text" placeholder="Ingrese cualquier Parametro para Identificarlo" size="35" id="Barra Busqueda" name="Nombre_B">
		</form>
		<a href="http://127.0.0.1:8000/Registrar_Alumnos/"><button>Registrar</button></a>

		<table>
			<tr>
				<th>RUT Alumno</th>
				<th>Nombre Alumno</th>
				<th>Genero</th>
				<th>Nacimiento Alumno</th>
				<th>Profesion Alumno</th>
				<th>DirPersonal Alumno</th>
				<th>DirLaboral Alumno</th>
				<th>Asistencias Alumno</th>
				<th>Email Alumno</th>
				<th>Telefono Alumno</th>
			</tr>
			{% for Alumn in Lista_Alumnos %}
			<tr>
				<td>{{Alumn.RUT}}</td>
				<td>{{Alumn.Nombre}}</td>
				<td>{{Alumn.Genero}}</td>
				<td>{{Alumn.Nacimiento}}</td>
				<td>{{Alumn.Profesion}}</td>
				<td>{{Alumn.DirPersonal}}</td>
				<td>{{Alumn.DirLaboral}}</td>
				<td>{{Alumn.Asistencias}}</td>
				<td>{{Alumn.Email}}</td>
				<td>{{Alumn.Ntelefono}}</td>
				<td>
					<a href="http://127.0.0.1:8000/Modificar_Alumno/{{Alumn.id}}/"><button>Modificar</button></a>
					<a href="http://127.0.0.1:8000/Eliminar_Alumno/{{Alumn.id}}/"><button>Eliminar</button></a>
					<a href="https://www.google.com/"><button>Clases</button></a>
					<a href="https://www.google.com/"><button>Locales</button></a>
					<a href="https://www.google.com/"><button>Pagos</button></a> <!--Este boton corresponde a las funciones de pagos en relacion a la clase PagosAlumno-->
				</td>
			</tr>
			{% endfor %}
		</table>
		<a href="http://127.0.0.1:8000/">Regresar a la Pagina Principal</a>
</body>
</html>

