<!DOCTYPE html>
<html>
<head>
	<title>Gestion</title>
</head>

<body>
	<a href="{% url 'logout' %}">Cerrar Sesion</a>
	<h1 style="background-color:red; color:white; text-align:center;">Bienvenido a la Gestion As You Wish</h1>
	<h3>(V.1.1)</h3>
	<p><strong>Seleccione la Opcion de Gestion deseada:</strong></p>
	<ul>
		<li><a href="/Listado_Usario/">Lista de Usuario</a></li>
		<li><a href="/Listado_Alumnos/">Lista de Alumnos</a></li>
		<li><a href="/Listado_Profesores/">Lista de Profesores</a></li>
		<li><a href="/Listado_Clases/">Lista de Clases</a></li>
		<li><a href="/Listado_Eventos/">Lista de Eventos</a></li>
		<li><a href="/Listado_Academias/">Lista de Academias</a></li>
		<li><a href="/Registro_Global/">Estado de la Academia</a></li>
	</ul>



</body>
</html>