<!DOCTYPE html>
<html>
<head>
	<title>Lista-AYW</title>
</head>
<body>
	
		<h1 style="background-color:red; color:white; text-align:center;">Lista de Alumnos Registrados</h1>
		<a href="/Inicio_Gestion/">Regresar</a>

		<p><strong>Total de Alumnos: {{Lista_HTML|length}}</strong></p>

		<form method="GET" action="/Listado_Alumnos/">
            {{Filtro.form}}
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
		<a href="/Registrar_Alumno/"><button>Registrar Alumno</button></a>
		<table>
			<tr>
				<th>RUT</th>
				<th>Nombre</th>
				<th>Genero</th>
				<th>Nacimiento</th>
				<th>Profesion</th>
				<th>Direccion Personal</th>
				<th>Direccion Laboral</th>
				<th>E-mail</th>
				<th>N° Telefono</th>
			</tr>
			{% for Alumn in Lista_HTML %}
			<tr>
				<td style="text-align:center;">{{Alumn.RUT}}</td>
				<td style="text-align:center;">{{Alumn.Nombre}}</td>
				<td style="text-align:center;">{{Alumn.Genero}}</td>
				<td style="text-align:center;">{{Alumn.Nacimiento}}</td>
				<td style="text-align:center;">{{Alumn.Profesion}}</td>
				<td style="text-align:center;">{{Alumn.DirPersonal}}</td>
				<td style="text-align:center;">{{Alumn.DirLaboral}}</td>
				<td style="text-align:center;">{{Alumn.Email}}</td>
				<td style="text-align:center;">{{Alumn.Ntelefono}}</td>
				<td>
					<a href="/Modificar_Alumno/{{Alumn.id}}/"><button>Modificar</button></a>
					<a href="/Eliminar_Alumno/{{Alumn.id}}/"><button>Eliminar</button></a>
					<a href="/Listado_Clases_Locales/{{Alumn.Nombre}}/"><button>Clases & Locales</button></a>
					<a href="/Listado_Pagos/{{Alumn.id}}/"><button>Pagos</button></a>
				</td>
			</tr>
			{% endfor %}
		</table>
</body>
</html>