<!DOCTYPE html>
<html>
<head>
	<title>Evento-AYW</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">Resultados de Busqueda</h1>

		<table>
			<tr>
				<th>Nombre Evento</th>
				<th>Fecha</th>
				<th>Horario Inicio</th>
				<th>Horario Termino</th>
				<th>Local Encargado</th>
				<th>Lugar</th>
			</tr>
            {% for Event in Evento_Encontrado %}
			<tr>
				<td>{{Event.NombreEvent}}</td>
				<td>{{Event.FechaEvent}}</td>
				<td>{{Event.EventInicio}}</td>
				<td>{{Event.EventTermino}}</td>
				<td>{{Event.LocalAdmin}}</td>
				<td>{{Event.Direccion}}</td>
				<td>
					<a href="http://127.0.0.1:8000/Modificar_Evento/{{Event.id}}/"><button>Modificar</button></a>
					<a href="http://127.0.0.1:8000/Eliminar_Evento/{{Event.id}}/"><button>Eliminar</button></a>
					<a href="https://www.google.com/"><button>Participantes</button></a>
				</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		<a href="http://127.0.0.1:8000/Listado_Alumnos/">Regresar</a><br>
		<a href="http://127.0.0.1:8000/">Regresar a la Pagina Principal</a>
</body>
</html>