<!DOCTYPE html>
<html>
<head>
	<title>Modificar-AYW</title>
</head>
<body>
	<h1 style="background-color:red; color:white; text-align:center;">Modificar Evento</h1>
	<form action="" method="POST">{% csrf_token %}
		<table>
			{{ form}}
		</table>
		<br>
		<input type="reset" name="Limpiar">
		<input type="submit" name="Modificar">
	</form>
	<br>
	<h4 style="background-color:silver; color:white; text-align:center;">{{mensaje}}</h4>
	<br>
	<br>
	<a href="http://127.0.0.1:8000/Listado_Evento/">Regresar</a>


</body>
</html>