<!DOCTYPE html>
<html>
<head>
	<title>Inicio-AYW</title>
</head>

<body>
	<h1 style="background-color:red; color:white; text-align:center;">Bienvenido a la Gestion As You Wish</h1>
	<a href="{% url 'logout' %}">Cerrar Sesion</a>
	<h3>(V.1.)</h3>
	<p><strong>En esta Version de la Pagina tendra las Siguientes Opciones a escoger:</strong></p>
	<ul>
		<li><a href="Listado_Alumnos/">Ver Alumnos Registrados (Incluye Modificar/Eliminar)</a></li>
		<li><a href="Registrar_Alumnos/">Registrar Nuevo Alumno</a></li>
		<li><a href="CrearUsuarios/">Crear Usuarios Nuevos</a></li>
	</ul>



</body>
</html>