<!DOCTYPE html>
<html>
<head>
	<title>Registrar-AYW</title>
</head>
<body>
	<h1 style="background-color:red; color:white; text-align:center;">Registar Nuevo Evento</h1>
	<br>
	<form action="" method="POST">{% csrf_token %}
		<table>
			{{ form.as_table}}
		</table>
		<br>
		<input type="reset" name="Limpiar">
		<input type="submit" name="Registar">
	</form>
	<br>
	<h4 style="background-color:silver; color:white; text-align:center;">{{mensaje}}</h4>
	<br>
	<a href="/Listado_Eventos/">Regresar</a>
	<p></p>
	<a href="/Inicio_Gestion/">Regresar a la Pagina de Gestion</a>


</body>
</html>