<!DOCTYPE html>
<html>
<head>
	<title>Lista-User</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">User List</h1>

		<a href="/CrearUsuarios/"><button>Registrar Usuario</button></a>
		<table>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Rut</th>
			</tr>
			{% for Usr in Lista_HTML %}
			<tr>
				<td>{{Usr.username}}</td>
				<td>{{Usr.email}}</td>
				<td>{{Usr.rut}}</td>
			</tr>
			{% endfor %}
		</table>
		<a href="/">Regresar a la Pagina Principal</a>
</body>
</html>