<!DOCTYPE html>
<html>
<head>
	<title>Locales</title>
</head>

<body>
	<h1 style="background-color:red; color:white; text-align:center;">Locales de As You Wish</h1>
	<a href="/Inicio_Gestion/">Regresar</a>
	<p><strong>Lista de los Locales que pertenecen a As You Wish:</strong></p>
	<ul>
		<li><a href="/Estado_CasaMatriz/">Casa Matriz</a></li>
		<li><a href="/Estado_Bellavista/">Bellavista</a></li>
		<li><a href="/Estado_Providencia/">Providencia</a></li>
		<li><a href="/Estado_LaFlorida/">La Florida</a></li>

	</ul>
</body>
</html>