<!DOCTYPE html>
<html>
<head>
	<title>Lista-Clase</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">Resultados de Busqueda</h1>

		<table>
			<tr>
				<th>Nombre de la Clase</th>
				<th>Horario Inicio</th>
				<th>Horario Termino</th>
				<th>Profesor en Jefe</th>
				<th>Asistencia de Hombres</th>
				<th>Asistencia de Mujeres</th>
				<th>Asistencias Totales</th>
				<th>Porcentaje de Asistencias</th>
				<th>Numero Pase Vencidos</th>
			</tr>
			{% for Claz in Clase_Encontrada %}
			<tr>
				<td>{{Claz.NombreClas}}</td>
				<td>{{Claz.ClassInicio}}</td>
				<td>{{Claz.ClassTermino}}</td>
				<td>{{Claz.Profesor}}</td>
				<td>{{Claz.AsistHombres}}</td>
				<td>{{Claz.AsistMujeres}}</td>
				<td>{{Claz.AsistTotales}}</td>
				<td>{{Claz.AsistPorcentaje}}</td>
				<td>{{Claz.PaseVencidos}}</td>
				<td>
					<a href="http://127.0.0.1:8000/Modificar_Clase/{{Claz.id}}/"><button>Modificar</button></a>
					<a href="http://127.0.0.1:8000/Eliminar_Clase/{{Claz.id}}/"><button>Eliminar</button></a>
					<a href="https://www.google.com/"><button>Participantes</button></a>
					<a href="https://www.google.com/"><button>Ingresos</button></a>
				</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		<a href="http://127.0.0.1:8000/Listado_Clase/">Regresar</a><br>
		<a href="http://127.0.0.1:8000/">Regresar a la Pagina Principal</a>
</body>
</html>