<!DOCTYPE html>
<html>
<head>
	<title>Clases/Locales</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">Lista de Clases & Locales</h1>

        
		<table>
			<tr>
				<th>Clase</th>
				<th>Local</th>
				<th>Inicio</th>
				<th>Termino</th>
				<th>Porcentaje de Asistencia</th>
				<th>Asistencias Totales</th>
			</tr>
			{% for ClassLocal in Lista_HTML %}
			<tr>
				<td>{{ClassLocal.Clase_Perteneciente}}</td>
				<td>{{ClassLocal.Local}}</td>
				<td>{{ClassLocal.Horario_Inicio}}</td>
				<td>{{ClassLocal.Horario_Termino}}</td>
				<td>{{ClassLocal.AsistPorcentaje}}</td>	
                <td>{{ClassLocal.AsistTotales}}</td>
			</tr>
			{% endfor %}
		</table>
		<a href="/Listado_Alumnos/">Regresar a la Lista de Alumnos</a>
		<p></p>
		<a href="/Inicio_Gestion/">Regresar a la Pagina de Gestion</a>
		<p></p>
		<a href="/">Regresar a la Pagina de Inicio</a>
</body>
</html>