<!DOCTYPE html>
<html>
<head>
	<title>Inicio-AYW</title>
</head>

<body>
	<h1 style="background-color:red; color:white; text-align:center;">Bienvenido a la Gestion As You Wish</h1>
	<a href="{% url 'logout' %}">Cerrar Sesion</a>
	<h3>(V.1.1)</h3>
	<p><strong>En esta Version de la Pagina tendra las Siguientes Opciones a escoger:</strong></p>
	<ul>
		<li><a href="Listado_Alumnos/">Lista Alumnos</a></li>
		<li><a href="CrearUsuarios/">Crear Usuario</a></li>
		<li><a href="Listado_Profesor//">Lista Profesores</a></li>
		<li><a href="Academias/">Lista Academias</a></li>
		<li><a href="Listado_Clase/">Lista Clases</a></li>
		<li><a href="Listado_Evento/">Lista Eventos</a></li>
		<li><a href="Registro_Global/">Estado de la Academia</a></li>
	</ul>



</body>
</html>