<!DOCTYPE html>
<html>
<head>
	<title>Lista-AYW</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">Resultados de Busqueda</h1>

		<table>
			<tr>
				<th>RUT Profesor</th>
				<th>Nombre Profesor</th>
				<th>Genero</th>
				<th>Clase Asignada</th>
				<th>Email Profesor</th>
				<th>Telefono Profesor</th>
			</tr>
			{% for Profe in Profesor_Encontrado %}
			<tr>
				<td>{{Profe.RUTprof}}</td>
				<td>{{Profe.NombreProf}}</td>
				<td>{{Profe.GeneroProf}}</td>
				<td>{{Profe.ClaseProfesor}}</td>
				<td>{{Profe.EmailProf}}</td>
				<td>{{Profe.NtelefonoProf}}</td>
				<td>
					<a href="http://127.0.0.1:8000/Modificar_Profesor/{{Profe.id}}/"><button>Modificar</button></a>
					<a href="http://127.0.0.1:8000/Eliminar_Profesor/{{Profe.id}}/"><button>Eliminar</button></a>
				</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		<a href="http://127.0.0.1:8000/Listado_Profesor/">Regresar</a><br>
		<a href="http://127.0.0.1:8000/">Regresar a la Pagina Principal</a>
</body>
</html>