<!DOCTYPE html>
<html>
<head>
	<title>Lista-AYW</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">Lista de Profesores Registrados</h1>

		<p><strong>Total de Profesores Registrados Actualmente: {{Lista_Profesor|length}}</strong></p>
		<form action="/buscar_Prof/" method="GET">
			<strong><label for="Barra Busqueda">Barra de Busqueda:</label></strong><input type="text" placeholder="Ingrese cualquier Parametro para Identificarlo" size="35" id="Barra Busqueda" name="Nombre_B">
		</form>
		<a href="http://127.0.0.1:8000/Registrar_Profesor/"><button>Registrar</button></a>

		<table>
			<tr>
				<th>RUT Profesor</th>
				<th>Nombre Profesor</th>
				<th>Genero</th>
				<th>Clase Asignada</th>
				<th>Email Profesor</th>
				<th>Telefono Profesor</th>
			</tr>
			{% for Profe in Lista_Profesor %}
			<tr>
				<td>{{Profe.RUTprof}}</td>
				<td>{{Profe.NombreProf}}</td>
				<td>{{Profe.GeneroProf}}</td>
				<td>{{Profe.ClaseProfesor}}</td>
				<td>{{Profe.EmailProf}}</td>
				<td>{{Profe.NtelefonoProf}}</td>
				<td>
					<a href="http://127.0.0.1:8000/Modificar_Profesor/{{Profe.id}}/"><button>Modificar</button></a>
					<a href="http://127.0.0.1:8000/Eliminar_Profesor/{{Profe.id}}/"><button>Eliminar</button></a>
				</td>
			</tr>
			{% endfor %}
		</table>
		<a href="http://127.0.0.1:8000/">Regresar a la Pagina Principal</a>
</body>
</html>