<!DOCTYPE html>
<html>
<head>
	<title>Registrar-AYW</title>
</head>
<body>
	<h1 style="background-color:red; color:white; text-align:center;">Registar Nuevo Profesor</h1>
	<br>
	<form action="" method="POST">{% csrf_token %}
		<table>
			{{ form.as_table}}
		</table>
		<br>
		<input type="reset" name="Limpiar">
		<input type="submit" name="Registar">
	</form>
	<br>
	<h4 style="background-color:silver; color:white; text-align:center;">{{mensaje}}</h4>
	<br>
	<a href="http://127.0.0.1:8000/">Regresar a la Pagina Principal</a>


</body>
</html>