<!DOCTYPE html>
<html>
<head>
	<title>Participantes</title>
</head>
<body>
		<h1 style="background-color:red; color:white; text-align:center;">Participantes de la Clase</h1>

		<p><strong>Total de Clases Registrados Actualmente: {{Lista_HTML|length}}</strong></p>
		<form method="POST" >
			{% csrf_token %}
			<table>
				{% for Prtic in Lista_HTML %}
				<div><input type="checkbox" id="{{Prtic.id}}" onclick=""><label>{{Prtic.Nombre}}</label></div>
				{% endfor %}
				<input type="button" value="Registrar Asistencias">
			</table>
		</form>

	<a href="/Inicio_Asistencias/">Regresar</a>
</body>
</html>